/* compos cpm  */

.compose-container {
  z-index: 999;
  width: 440px;
  position: fixed;
  bottom: 0;
  right: 30px;
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 8px 8px 0 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.title-txt {
  color: #ffffff;
}

.compose-remove-header i {
  font-weight: 100;
  color: #ffffff;
  cursor: pointer;
}

.compose-remove-header i:hover {
  color: #db4437;
}
.compose-remove-footer {
  cursor: pointer;
}

.compose-remove-footer i:hover {
  color: #db4437;
}

.compose-title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
  font-weight: 700;
  background-color: #202124;
  width: 420px;
  border-radius: 8px 8px 0 0;
}

.compose-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.compose-footer button {
  font-size: 0.875rem;
  display: inline-flex;
  letter-spacing: 0.25px;
  font-weight: 500;
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.438);
  border-radius: 24px;
  color: #3c4043;
  padding: 10px 20px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

.compose-footer i {
  font-size: 1.3rem;
}

.compose-footer button:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.445),
    0 1px 3px 1px rgba(60, 64, 67, 0.486);
}

.compose-container input {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.411);
  padding: 0;
  padding-left: 10px;
  width: 430px;
  height: 40px;
}
.compose-container textarea {
  border-bottom: 1px solid rgba(128, 128, 128, 0.411);
  border: none;
  outline: none;
  padding: 0;
  padding-top: 20px;
  padding-left: 10px;
  width: 420px;
  resize: none;
}


/* Media Queries */

/* Super Narrow */

@media (min-width: 450px) {

}

/* Extra Narrow */
@media (min-width: 900px) {
}

/* Narrow */

@media (min-width: 980px) {
}

/* Normal */

@media (min-width: 1100px) {
}
