/* mail prev cmp */


.starred {
    color: #F5B041;
}

.mail-prv-date {
    font-size: 0.9rem;
}

.unread {
    font-weight: bold;
}
.bold {
    font-weight: bold;
}

.read {
    background: rgba(242,245,245,0.8);
}

.mail-prv-star {
    min-width: 20px;
}

.mail-prv-sender {
    min-width: 100px;
}

.mail-prv-subject {
    min-width: 200px;
    /* max-height: 10px; */
}

.mail-prv-body {
    min-width: 400px;
}
.mail-prv-date {
    min-width: 100px;
}
.mail-list {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mail-preview li {
    display: flex;
    justify-content: space-between;
}

.mail-preview li {
    font-size: 1rem;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.295);
    cursor: pointer;
}
.mail-preview li:hover {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.mail-preview div {
    padding: 10px;
    transition: .5s;
}

/* exp mail prv  */

.open-actions-mail-exp i {
    padding-left: 10px;
}
.open-actions-mail-exp i:hover {
    color: #DB4437;
}

.exp-mail-prv {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.295);
}

.exp-mail-header {
    display: flex;
    justify-content: space-between;
}
.mail-expd-subject {
    font-size: 1.2rem;
    font-weight: 800;
}

.exp-mail-sub-header {
    display: flex;
    justify-content: flex-start;
}

.mail-expd-sender-name {
    font-weight: 800;
}
.mail-expd-sender-email {
    color: grey;
}
