/* mail side menu cmp   */


.mail-side-content {
  transition: 0.6s;
  transform: translateX(-100%);
  flex-direction: column;
  width: 99%;
  position: fixed;
  z-index: 48;
  top: 80px;
  background-color: #fff;
  height: 80%;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.show-side-bar {
  transform: translateX(0);
}

.mail-side-content ul {
  margin: 0;
}

.side-btn {
  display: none;
  justify-content: center;
  margin-top: 22px;
}

.mail-side-content i {
  margin-right: 5px;
  font-weight: 100;
}

.mail-side-content button {
  font-size: 0.875rem;
  display: inline-flex;
  letter-spacing: 0.25px;
  font-weight: 500;
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.438);
  border-radius: 24px;
  color: #3c4043;
  padding: 19px 37px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

.mail-side-content button i {
  color: #37b5db;
}

.mail-side-content button:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.445),
    0 1px 3px 1px rgba(60, 64, 67, 0.486);
}

.mail-side-content ul {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
}

.side-close {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.3rem;
  cursor: pointer;
}

.mail-side-content li {
  padding-top: 10px;
  font-size: 1rem;
  padding: 13px 30px;
  cursor: pointer;
}


.mail-side-content li:hover {
  background-color: rgba(128, 128, 128, 0.151);
  border-radius: 20px;
}

/* Media Queries */

/* Super Narrow */

@media (min-width: 900px) {
  .mail-side-content {
    transform: translateX(0%);
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    width: unset;
    position: unset;
    top: unset;
    background-color: #fff;
    height: unset;
    box-shadow: unset;
  }
  .mail-side-content li {
    padding: 10px;
    width: 90%;
  }
  .side-close {
    display: none;
  }

.mail-side-content-container {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.side-btn {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}


}

/* Extra Narrow */
@media (min-width: 900px) {
}

/* Narrow */

@media (min-width: 980px) {
}

/* Normal */

@media (min-width: 1100px) {
}
