@import "../Mail/cmps/mail-preview.css";
@import "../Mail/cmps/mail-list.css";
@import "../Mail/cmps/mail-side-menu.css";
@import "../Mail/cmps/mail-details.css";
@import "../Mail/cmps/mail-action-menu.css";
@import "../Mail/cmps/mail-compose.css";
@import "../Mail/cmps/helpers.css";

.mail-app {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.mail-app-main-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}


/* box shadow helpers  */

.box-shadow {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}


  
/* Media Queries */

/* Super Narrow */

@media (min-width: 450px) {
  .mail-app {
    display: flex;
    flex-direction: row;
  }
  .mail-app-main-content-container {
    display: flex;
    flex-direction: row;
  }
  }
  
  /* Extra Narrow */
  @media (min-width: 900px) {
 
    
  }
  
  /* Narrow */
  
  @media (min-width: 980px) {

  }
  
  /* Normal */
  
  @media (min-width: 1100px) {


  }
  