/* .mail-app {
    /* background-color: red; */
/* }  */

/* mail main content  */

.mail-app-main-content-container {
    display: flex;
}

/* mail list cmp  */

* {
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.mail-list ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.mail-list {
    margin: 20px;
}


/* mail prev cmp */
.mail-prv-date {
    font-size: 0.9rem;
}
.bold {
    font-weight: bold;
}

.mail-list {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mail-preview li {
    display: flex;
    justify-content: space-between;
}

.mail-preview li {
    font-size: 1rem;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.295);
    cursor: pointer;
}
.mail-preview li:hover {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.mail-preview div {
    padding: 10px;
    transition: .5s;
}

/* exp mail prv  */

.open-actions-mail-exp i {
    padding-left: 10px;
}
.open-actions-mail-exp i:hover {
    color: #DB4437;
}

.exp-mail-prv {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.295);
}

.exp-mail-header {
    font-size: 1.2rem;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
}

.exp-mail-sub-header {
    display: flex;
    justify-content: flex-start;
}

.mail-expd-sender-name {
    font-weight: 800;
}
.mail-expd-sender-email {
    color: grey;
}

/* mail side menu cmp   */

.mail-side-content ul {
    padding: 20px;
}
.mail-side-content li {
    padding: 10px;
    width: 150px;
    cursor: pointer;
}

.mail-side-content li:hover {
    background-color: rgba(128, 128, 128, 0.151);
    border-radius: 20px;
}

/* mail details cmps  */

.back-btn {
    font-size: 1.3rem;
    position: absolute;
    bottom: 10px;
}
.back-btn :hover {
    color: #DB4437;
}
.mail-sub-to {
    padding-bottom: 30px;
    color: grey;
}
.exp-mail-sub-header div {
    padding-inline-end: 10px;
}

.mail-details-content {
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    padding: 0 20px;
}


.mail-details-header {
    position: relative;
    font-size: 1.37rem;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

/* mail action menu cmp */
.mail-action-menu  {
    top: 60px;
    right: 0;
    position: absolute;
}

.mail-action-menu ul {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    padding: 0;
    /* align-items: center; */
}
.mail-action-menu li {
    font-size: 1rem;
    background-color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.mail-action-menu li:hover {
    background-color: rgba(155, 155, 155, 0.185);
}


/* .mail-action-menu ul {
    position: absolute;
    top: 0;
    right: 70px;
} */

/* helpers  */

/* box shadow helpers  */

.box-shadow {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}