.add-note-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

.btns-container {
    margin-top: 10px;
}

.add-note-container button {
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    cursor: pointer;
    margin: 0 10px;
}

.active {
    width: 50px !important;
    height: 50px !important;
    background-color: rgb(240, 240, 240) !important;
    border-radius: 50%;
}

.add-note-container button:hover {
    width: 50px;
    height: 50px;
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
}

.add-note-container input {
    outline: none;
    border: none;
    min-width: 270px;
    border-bottom: 1px solid lightgray;
}

@media (max-width:1200px) {}

@media (max-width:1000px) {}

@media (max-width:800px) {
    .add-note-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 20px;
    }
}

@media (max-width:400px) {}