@import './note-txt.css';
@import './note-img.css';
@import './note-todo.css';
@import './note-video.css';
@import './note-opts.css';
* {
    font-family: 'roboto', sans-serif;
}

.notes-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 95vh;
}

.add-note-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}