@import './note-txt.css';
@import './note-img.css';
@import './note-todo.css';
@import './note-video.css';
@import './note-opts.css';
@import './search-note.css';
@import './add-note.css';
* {
    font-family: 'roboto', sans-serif;
    color: #202131;
}

.notes-container {
    column-count: 6;
    padding: 10px;
}

.note-card {
    break-inside: avoid;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 10px 10px 40px 10px;
    height: fit-content;
    margin-bottom: 10px;
    vertical-align: baseline;
    max-width: 100%;
}

@media (max-width:1200px) {
    .notes-container {
        column-count: 5;
    }
}

@media (max-width:1000px) {
    .notes-container {
        column-count: 4;
    }
}

@media (max-width:800px) {
    .notes-container {
        column-count: 2;
    }
    .add-note-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 20px;
    }
}

@media (max-width:400px) {
    .notes-container {
        column-count: 1;
    }
}