@import './note-txt.css';
@import './note-img.css';
@import './note-todo.css';
@import './note-video.css';
@import './note-opts.css';
@import './search-note.css';
* {
    font-family: 'roboto', sans-serif;
}

.container {
    max-width: 1200px;
}

.notes-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 20px;
    margin: 0 auto;
    /* margin: 0 auto 2em;
    column-gap: .25em;
    column-count: 4;
    vertical-align: baseline;
    width: 95vw; */
    /* padding-left: 1em; */
}

.notes-container section:hover {
    box-shadow: 0px 1px 3px 0px #c6c6c6ba;
}

.add-note-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}