ul {
    padding: 5px;
}

.note-todo {
    position: relative;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

.note-todo p {
    margin: 8px;
}

.todos-list-title {
    font-size: 18px;
    margin: 0 15px 10px
}

.todos-list {
    padding: 5px;
}

.todos-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todos-input {
    width: 100%;
    outline: none;
    border: none;
    margin: 8px;
}

.todos-list li button {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    outline: none;
}

.todos-list li button:hover {
    border-radius: 50%;
    background-color: rgb(243, 242, 242);
    cursor: pointer;
}

.todos-list li:hover {
    border-bottom: 1px solid lightgrey;
}

input[type="checkbox"]:checked {
    filter: invert(80%) hue-rotate(-68deg) brightness(2.5);
}

input[type="checkbox"] {
    filter: invert(-1%) hue-rotate(-68deg) brightness(2.5);
}

.note-todo .opts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-checkbox-container {
    display: flex;
    align-items: center;
}

.checked {
    text-decoration: line-through;
    opacity: 0.6;
}