ul {
    padding: 5px;
}

.note-todo {
    position: relative;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

.note-todo p {
    margin: 8px;
}

.todos-list-title {
    font-size: 18px;
}

.todos-list {
    padding: 5px;
}

.todos-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todos-input {
    width: 100%;
    outline: none;
    border: none;
    margin: 8px;
}

.todos-list li button {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    outline: none;
}

.todos-list li button:hover {
    border-radius: 50%;
    background-color: rgb(243, 242, 242);
    cursor: pointer;
}

.todos-list li:hover {
    border-bottom: 1px solid lightgrey;
}

.note-todo .opts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}