.note-options-container {
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}

.note-options-container button {
    outline: none;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: transparent;
    font-size: 1em;
}

.note-options-container button:hover {
    background-color: rgb(243, 242, 242);
    cursor: pointer;
}

.color-palette-container {
    position: absolute;
    right: -78px;
    bottom: 40px;
}

.colors {
    /* background-color: lightgrey; */
    width: 290px;
    height: 37px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.colors div {
    border: solid 1px rgb(202, 202, 202);
}

.colors .white {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    transform: scale(1);
    transition: all .3s;
    margin: .1em;
    cursor: pointer;
    border: solid 1px rgb(202, 202, 202);
    background-color: white;
}

.colors .red {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    transform: scale(1);
    transition: all .3s;
    margin: .1em;
    cursor: pointer;
    /* border: solid 1px rgb(255, 255, 255); */
    background-color: red;
}

.colors .yellow {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    transform: scale(1);
    transition: all .3s;
    margin: .1em;
    cursor: pointer;
    /* border: solid 1px rgb(255, 255, 255); */
    background-color: yellow;
}

.colors .orange {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    transform: scale(1);
    transition: all .3s;
    margin: .1em;
    cursor: pointer;
    /* border: solid 1px rgb(255, 255, 255); */
    background-color: orange;
}

.colors .green {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    transform: scale(1);
    transition: all .3s;
    margin: .1em;
    cursor: pointer;
    /* border: solid 1px rgb(255, 255, 255); */
    background-color: green;
}

.colors .blue {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    transform: scale(1);
    transition: all .3s;
    margin: .1em;
    cursor: pointer;
    /* border: solid 1px rgb(255, 255, 255); */
    background-color: blue;
}

.colors .purple {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    transform: scale(1);
    transition: all .3s;
    margin: .1em;
    cursor: pointer;
    /* border: solid 1px rgb(255, 255, 255); */
    background-color: purple;
}

.colors .pink {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    transform: scale(1);
    transition: all .3s;
    margin: .1em;
    cursor: pointer;
    /* border: solid 1px rgb(255, 255, 255); */
    background-color: pink;
}

.colors .gray {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    transform: scale(1);
    transition: all .3s;
    margin: .1em;
    cursor: pointer;
    /* border: solid 1px rgb(255, 255, 255); */
    background-color: lightgray;
}