.note-img {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 320px;
    padding: 10px 10px 40px 10px;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.note-img img {
    max-width: 320px;
}

.note-img h1 {
    margin: 5px;
}