.note-options-container {
    text-align: center;
}

.note-options-container button {
    outline: none;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: transparent;
    font-size: 1em;
}

.note-options-container button:hover {
    background-color: rgb(243, 242, 242);
    cursor: pointer;
}