.main-section-container {
    display: flex;
    justify-content: center;
    align-items: start;
}

.app-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 30%;
    padding: 50px;
    margin-top: 100px;
}

.app-info-container h1 {
    font-size: 3em;
    font-weight: 100;
    margin: 10px;
}

.app-info-container p {
    margin-bottom: 30px;
    font-size: 1.2em;
    font-weight: 100;
}

.action-btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.action-btns-container button {
    margin-right: 20px;
    border: 1px solid lightgrey;
    width: 126px;
    height: 50px;
    border-radius: 5px;
    font-size: 1.2em;
    outline: none;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
}

.action-btns-container button:hover {
    background-color: rgba(241, 241, 241, 0.746);
}

.action-btns-container button i {
    font-weight: 100;
    font-size: 2em;
    margin-top: 10px;
}

.main-section-container img {
    max-width: 60%;
    margin-left: 30px;
}

@media (max-width:1450px) {
    .main-section-container {
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        align-items: center;
    }
    .main-section-container img {
        max-width: 100%;
        margin-left: 0;
    }
    .app-info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 65%;
        padding: 0 50px 50px 50px;
        margin-top: 0;
    }
}

@media (max-width:510px) {
    .app-info-container h1 {
        font-size: 2em;
        font-weight: 100;
    }
    .app-info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 100%;
        padding: 0 20px 20px;
    }
    .action-btns-container button {
        width: 98px;
        height: 66px;
    }
}