/* header  */

header {
    border-bottom: 1px solid rgba(128, 128, 128, 0.116);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.nav-logo img {
    width: 150px;
    padding-left: 15px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    position: relative;
}

.nav-links ul {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 170px;
    height: 170px;
    top: 45px;
    right: 10px;
    margin: 0;
    list-style: none;
    z-index: 50;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px #d4d4d4;
}

.nav-links ul li {
    padding: 5px;
    margin: 18px;
    list-style: none;
    display: flex;
    font-size: 2em;
}

.nav-links ul li i {
    color: #5d5f74;
    font-weight: 100;
}

.grid-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: black;
    font-size: 2em;
}

.grid-btn svg {
    line-height: 0;
    color: #5d5f74;
    /* font-weight: 100; */
}