/* user msg  */

.user-msg {
  z-index: 49;
  position: fixed;
  height: 50px;
  padding: 10px 30px;
  width: 250px;
  bottom: 0;
  left: 0;
  background-color: #202124;
  margin: 24px;
  color: #fff;
  font-size: 0.875rem;
  letter-spacing: 0.2px;
  font-weight: 400;
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-msg-txt {
  color: #fff;
}

.user-msg-txt a {
  color: rgb(30, 174, 241);
}

.user-msg-close i {
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  font-weight: 100;
}
